body {
	font-family: Arial;
	font-size: 16px;
	line-height: 20px;
}

.navigation {
	width: 220px;
	height: 100%;
	padding: 20px;
	box-sizing: border-box;
	position: fixed;

	background-color: #ccc;
}
.navigation h1 {
	font-size: 24px;
	font-weight: bold;
	margin: 5px 0 35px 0;
}

.navigation li {
	margin: 6px 0;
}

.navigation li li {
	margin: 3px 0 3px 14px;
}

.navigation a {
	text-decoration: none;
	font-weight: bold;
	color: #333;
}

.navigation a:hover {
	color: blue;
}

.navigation li li a {
	font-weight: normal;
}

.navigation li li li a {
	color: #666;
	font-size: 14px;
}


.main {
	margin-left: 220px;
	width: 60%;
	padding: 20px;
}

.main h1 {
	font-size: 20px;
	font-weight: bold;
	margin: 5px 0 15px 0;
}

.main h2 {
	font-size: 16px;
	font-weight: bold;
	margin: 20px 0 12px 0;
	border-left: 20px solid #ccc;
	padding-left: 10px;
	border-radius: 5px;
}

.main h3 {
	font-weight: bold;
	margin: 20px 0 12px 0;
}

.main ul, .main p {
	margin: 10px 0;
}


.main li {
	list-style-position: outside;
	list-style-type: disc;
	margin: 8px 0 8px 20px;
}

.main li ul {
	margin: 0;
}

.main li li {
	list-style-type: circle;
	margin: 6px 0 6px 20px;
}

.main dt:before {
  content: "";
  display: block;
  margin-bottom: 10px;
}

.main dt {
	display: inline;
	font-style: italic;
}

.main dt:after {
	content: ":";
}

.main dd {
	display: inline;
}




